DATABASE_URL="postgresql://postgres:Sheks+PostGres24@localhost:5432/fasyl_pmo_db"
SALES_API_URL=http://10.10.1.20:9098/api/v1/integration

JWT_SECRET="super_secure_fasyl_secret_key_2026"
JWT_REFRESH_SECRET="fasyl_refresh_secret_2026"