DATABASE_URL="postgresql://neondb_owner:npg_WKcg97PqHEQd@ep-wispy-water-zal10i9s-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SALES_API_URL=http://10.10.1.20:9098/api/v1/integration

JWT_SECRET="super_secure_fasyl_secret_key_2026"
JWT_REFRESH_SECRET="fasyl_refresh_secret_2026"