@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
}

@keyframes toast-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-bar {
  animation-name: toast-bar;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes toastShrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}